{{- $data := "" }}
{{- $flush := false }}
{{- $alwaysOpen := false }}
{{- if .IsNamedParams }}
{{- $data = .Get "data" }}
{{- if isset .Params "flush" }}{{ $flush = .Get "flush" }}{{ end }}
{{- if isset .Params "alwaysOpen" }}{{ $alwaysOpen = .Get "alwaysOpen" }}{{ end }}
{{- else }}
{{- $data = .Get 0 }}
{{- end }}

{{- $parts := split $data "." }}
{{- if lt (len $parts) 2 }}
{{- errorf "Invalid data key: %s (expected something like 'qa.mcq')" $data }}
{{- end }}

{{- $folder := index $parts 0 }}
{{- $file := index $parts 1 }}
{{- $mcqData := index (index site.Data $folder) $file }}

<div class="accordion" id="mcqAccordion">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Multiple Choice Questions
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#mcqAccordion">
            <div class="accordion-body">
                <div class="progress">
                    <div id="progress-bar" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>

                <div id="mcq-container">
                    {{- range $index, $item := $mcqData }}
                    <div class="card mcq-card" style="display: none;" data-answer="{{ $item.answer }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ $item.question }}</h5>
                            <ul class="list-group list-group-flush">
                                {{- if reflect.IsSlice $item.options }}
                                {{- range $option := $item.options }}
                                <li class="list-group-item" onclick="selectOption(this)">{{ $option }}</li>
                                {{- end }}
                                {{- else }}
                                <li class="list-group-item" onclick="selectOption(this)">{{ $item.options }}</li>
                                {{- end }}
                            </ul>
                        </div>
                    </div>
                    {{- end }}
                </div>

                <button id="next-button" class="btn btn-primary" onclick="nextQuestion()">Next</button>
                <div id="score" class="mt-3">Correct Answers: 0 / {{ len $mcqData }}</div>
            </div>
        </div>
    </div>
</div>